* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Trench";
  src: url("trench100.ttf");
}

@font-face {
  font-family: "Hey Comic";
  src: url("HeyComic.ttf");
}

:root {
  --realce: #00a1ff;
}

body {
  background: #000 url("../img/bg.jpg") no-repeat fixed 50%;
  background-size: cover;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-style: normal;
}

#wrapper {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

#conteudo-principal {
  position: relative;
  width: 100%;
  min-height: 500px;
}

#geral {
  min-height: 300px;
  width: 100%;
  position: relative;
  z-index: 5;
  margin: 80px auto 0;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px 3px #00a1ff99;
  background-color: #000c;
  color: white;
}

footer {
  color: white;
  position: relative;
  z-index: 5;
  padding: 50px 0 30px;
  text-align: center;
  background-color: #001d;
  border-top: 2px solid black;
  margin-top: 30px;
}

footer img {
  margin-bottom: 15px;
  width: 70px;
}

footer p {
  margin: 20px;
}

footer a {
  color: var(--realce);
}

footer a:hover {
  text-decoration: underline;
}

/* MENU */
#menu-principal {
  background-color: #003c;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.logo img {
  height: 50px;
  transition: height 0.3s ease;
  padding: 5px;
}
nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  transition: padding 0.3s ease;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
}

.header-small .logo img {
  height: 30px; 
}
.header-small nav ul {
  padding: 10px 0;
}
